.contact-form {
  margin: 40px 0;
}

.contact-form label,
.contact-form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  border: 1px solid #888888;
  border-radius: 5px;
}

.contact-form select {
  width: 20%;
  padding: 10px 8px;
  background: #ffffff;
}

.contact-form fieldset {
  margin: 0 0 20px;
}

.input-default {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.send {
  width: 40%;
  padding: 15px 0;
  margin: 10px 0 0 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
}

.send:hover {
  background: darkorange;
  transform: scale(1.1);
}

.opening-hours table {
  margin: 10px 0 40px;
}

.opening-hours thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

.opening-hours td,
.opening-hours th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

.opening-hours h3 {
  font-size: 20px;
}
