#banner {
  width: 100%;
}

.main-content {
  background: #cccccc;
  padding: 20px;
}

.main-title {
  padding-left: 20px;
}

.text-align-center {
  text-align: center;
}

p {
  text-align: center;
}

#mission {
  font-size: 20px;
}

em strong {
    color: #FF0000;
}

.benefit-items {
  font-style: italic;
}

.benefits {
  background: #FFFFFF;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.benefits-image {
  width: 50%;
}