* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.page-header {
  background: #cccccc;
  padding: 20px 0;
}

.page-header .box {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.page-header nav {
  position: absolute;
  top: 120px;
  right: 0;
}

.page-header nav li {
  display: inline;
  margin-left: 15px;
}

.page-header nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.page-header nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

.section-width-default, .map-content {
  width: 940px;
  margin: 0 auto;
}

.home-about-section,
.map,
.home-benefits-section {
  padding: 3em 0;
}

.title-section {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
}

.home-about-section {
  background: #fefefe;
}

.home-about-section p {
  margin: 0 0 1em;
}

.home-about-section strong {
  font-weight: bold;
}

.home-about-section em {
  font-style: italic;
}

.barber-tools {
  width: 130px;
  float: left;
  margin: 0 20px 20px 0;
}

.map {
  background: linear-gradient(#fefefe, #888888);
}

.map p {
  margin: 0 0 2em;
  text-align: center;
}

.home-benefits-section {
  background: #888888;
}

.benefits-content {
  width: 640px;
  margin: 0 auto;
}

.benefits-list {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.benefits-list li {
  line-height: 1.5;
}

.benefits-list li:first-child {
  font-weight: bold;
}

.benefits-list li::before {
  content: "\2605 ";
}

.benefits-image {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px #000000;
}

.benefits-image:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 2em auto;
}

footer {
  text-align: center;
  background: url("../../assets/products-page/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}

.text-bold {
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .page-header .box, .home-about-section, .benefits-content, .map-content, .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  .page-header nav {
    position: static;
  }

  .benefits-list, .benefits-image {
    width: 100%;
  }

  .padding-1 {
    padding: 0 1em;
  }
}